SECRET_KEY=AIzaSyBJ_x8GbPOFVi6s1NvrKR2wqIX0Y6E9TCY
GOOGLE_API_KEY=AIzaSyBJ_x8GbPOFVi6s1NvrKR2wqIX0Y6E9TCY
GOOGLE_MODEL=gemini-3-flash-preview
DATABASE_URL=mysql+pymysql://root:Ngoquancf123@@localhost/reading_tracker
